<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>ManyCell Multiscale Simulator Web Portal Interface</display-name>

	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	

 <filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	
<!-- 	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>-->
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<display-name>ManyCell Security Constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Secured Area</web-resource-name>	
			<url-pattern>/Login.jsp</url-pattern>		
			<url-pattern>/UI/Model/*</url-pattern>
			<url-pattern>/UI/Modelling/*</url-pattern>
			<url-pattern>/UI/Simulations/*</url-pattern>
			<url-pattern>/UI/Simulation/*</url-pattern>				
		</web-resource-collection>
		<auth-constraint>
			<role-name>unicellsys</role-name>
		</auth-constraint>		
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTTPS Secured Area</web-resource-name>
			<!-- <url-pattern>/Login.jsp</url-pattern>-->
			<url-pattern>/UI/Registration/*</url-pattern>
			<url-pattern>/ssl/*</url-pattern>
		</web-resource-collection>
		 <user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Secured Application Area</realm-name>
		<form-login-config>
			<form-login-page>/Login.jsp</form-login-page>
			<form-error-page>/Login.jsp?error=Invalid+username+or+password</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>unicellsys</role-name>
	</security-role>

	<error-page>
		<error-code>403</error-code>
		<location>/Login.jsp?error=You+are+not+my+unicellsys</location>
	</error-page>
</web-app>
<!--<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->	